# Bonus: Temperature Analysis I

In [13]:
import pandas as pd
from datetime import datetime as dt

In [17]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()
df.tail()
df.date.dtype

dtype('O')

In [19]:
# Convert the date column format from string to datetime
df.date = pd.to_datetime(df.date, infer_datetime_format=True)

In [22]:
# Set the date column as the DataFrame index
df = df.set_index(df['date'])

In [23]:
# Drop the date column
df = df.drop(columns='date')
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [25]:
from scipy import stats

In [26]:
# Filter data for desired months
jun_data = df[df.index.month == 6]
dec_data = df[df.index.month == 12]

In [27]:
# Identify the average temperature for June
jun_data.mean()

prcp     0.136360
tobs    74.944118
dtype: float64

In [28]:
# Identify the average temperature for December
dec_data.mean()

prcp     0.216819
tobs    71.041529
dtype: float64

In [29]:
# Create collections of temperature data
jun_temp = jun_data.tobs
dec_temp = dec_data.tobs

In [30]:
# Run paired t-test
stats.ttest_ind(jun_temp, dec_temp)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

Among all stations, the difference in average temperature between June and December from 2010 to 2017 is 3.9F. 
The non-paired t-test was carried out, and the difference was considered to be statistically significant when the p-value was very low.